.Products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 2em;
    padding:0.5em 0;

    input{
        font-size:1em;
        border-radius: 32px;
        padding: 0.5em 1em;
    }

    .btn {
        text-align: right;

        button{
            background: #000;
            color:#fff;
            padding: 8px 32px;
            font-weight: bold;
            font-size: 1em;
            border: none;
            border-radius: 32px;
        }
    }
}