* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 10px 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 1.5em;

    thead {
        background: #000;
        color: #fff;

        tr {
            th {
                text-align: left;
                padding: 0.7em 0.4em;
                font-size: 1.1em;

                &:last-of-type {
                    text-align: center;
                    border-right: 0;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                border-bottom: 1px solid rgb(228, 228, 228);
                height: 50px;
                padding: 0.5em 0.4em;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: contain;
                }

                .actions {
                    display: flex;
                    gap: 0 2em;
                    justify-content: center;

                    .action {
                        .fa-pencil-alt {
                            color: green;
                        }

                        .fa-trash-alt {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    th,
    td {
        border-bottom: 1px solid grey;
    }
}

@import "navbar";
@import "home";
@import "about";
@import "shop";
@import "contact";
@import "cart";
@import "footer";

@import "admin";
@import "messages";
